.beleza-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.beleza-container h1 {
  font-size: 54px;
  font-family: 'Playfair Display';
  position: relative;
}
.beleza-container h1::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url(../assets/detalhe2.svg)no-repeat center;
  position: absolute;
  top: -10px;
  left: -45px;
  z-index: -1;
}
.beleza-container h1 span {
  color: var(--contrast);
}
.beleza {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
.beleza p {
  font-family: 'Playfair Display';
  font-size: 24px;
  max-width: 35ch;
}
.beleza-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 34px;
}
.btn-agendar {
  padding: 12px 32px;
  border-radius: 5px;
  color: var(--full--white);
  background-color: var(--contrast);
  font-size: 16px;
}
.btn-agendar:hover {
  background: var(--contrast--hover);
  transition: 0.3s;
}

@media (max-width: 1020px) {
 .beleza-texto p {
  font-size: 20px;
 }
}
@media (max-width: 900px) {
  .beleza-texto p {
    font-size: 16px;
   }
   .beleza img{
    width: 300px;
   }
}
@media (max-width: 700px) {
  .beleza img{
    width: 200px;
   }
}
@media (max-width: 605px) {
 .beleza-container h1::before{
  display: none;
 }
 .beleza-container h1 {
  font-size: 32px;
 }
 .beleza {
  gap: 40px;
 }
 .beleza-texto p{
  font-size: 14px;
 }
 .btn-agendar {
  font-size: 14px;
  padding: 10px 22px;
 }
}
@media (max-width: 501px) {
  .btn-agendar {
    padding: 10px 20px;
  }
}
@media (max-width: 455px) {
  .beleza img{
    display: none;
  }
}