.beleza-container {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin-bottom: 12.5rem;
}
.beleza-container h1 {
  font-size: 3.375rem;
  font-family: 'Playfair Display';
  position: relative;
}
.beleza-container h1::before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background: url(../assets/detalhe2.svg) no-repeat center;
  position: absolute;
  top: -0.625rem;
  left: -2.8125rem;
  z-index: -1;
}
.beleza-container h1 span {
  color: var(--contrast);
}
.beleza {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10.625rem;
}
.beleza p {
  font-family: 'Playfair Display';
  font-size: 1.5rem;
  max-width: 35ch;
}
.beleza-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.125rem;
}
.btn-agendar {
  padding: 0.75rem 2rem;
  border-radius: 0.3125rem;
  color: var(--full--white);
  background-color: var(--contrast);
  font-size: 1rem;
}
.btn-agendar:hover {
  background: var(--contrast--hover);
  transition: 0.3s;
}

@media (max-width: 63.75rem) {
 .beleza-texto p {
  font-size: 1.25rem;
 }
 .beleza {
  gap: 5rem;
 }
}
@media (max-width: 56.25rem) {
  .beleza-texto p {
    font-size: 1rem;
   }
   .beleza img {
    width: 18.75rem;
   }
}
@media (max-width: 43.75rem) {
  .btn-agendar {
   padding: 0.625rem 1.375rem;
  }
  .beleza img {
    width: 12.5rem;
   }
   .beleza-container {
    margin-bottom: 6.25rem;
   }
}
@media (max-width: 37.8125rem) {
 .beleza-container h1::before {
  display: none;
 }
 .beleza-container h1 {
  font-size: 2rem;
 }
 .beleza {
  gap: 2.5rem;
 }
 .beleza-texto p {
  font-size: 0.875rem;
 }
 .btn-agendar {
  font-size: 0.875rem;
 }
}
@media (max-width: 31.3125rem) {
  .btn-agendar {
    padding: 0.5rem 0.9375rem;
  }
}
@media (max-width: 28.4375rem) {
  .beleza img {
    display: none;
  }
  .beleza-container {
    gap: 1.875rem;
    margin-bottom: 3.125rem;
   }
}