.container-footer {
  background: var(--contrast--hover);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.125rem;
  padding: 3.125rem;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12.5rem;
  margin-right: 31.25rem;
}
.container-footer h1 {
  color: var(--white--titulo--secundario);
  font-family: 'Playfair Display';
}
.contato {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}
.contato a {
  font-size: 1rem;
  color: var(--white--contato);
  font-family: 'Inter';
}
.contato h2 {
  color: var(--white--titulo--secundario);
  margin-bottom: 0.9375rem;
}
.social {
  display: flex;
  flex-direction: column;
  gap: 1.4375rem;
  align-items: start;
  justify-content: center;
}
.social div {
  display: flex;
  gap: 0.5rem;
}
.social h2 {
  color: var(--white--titulo--secundario);
}
@media(max-width:44.375rem) {
  .footer {
    gap: 3.125rem;
  }
}
@media(max-width:34.375rem) {
  .footer {
    margin-right: 0;
  }
  .footer img {
    width: 2.1875rem;
  }
  .container-footer {
    padding: 1.25rem;
    gap: 1.5625rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer h2 {
    font-size: 1rem;
  }
  .container-footer h1 {
    font-size: 1.25rem;
  }
  .contato h2 {
    margin-bottom: 0;
  }
  .social h2 {
    margin-bottom: 0;
  }
}