.sobre-container {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 50px;
  border-radius: 5px;
  background: var(--contrast);
  color: var( --white--contato);
}
.servicos h1 {
  font-size: 42px;
  font-family: 'Playfair Display';
  color: var(--full--white);
}
.servicos ul {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(1fr);
}
.servicos ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sobre {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
  text-align: center;
}
.sobre h1 {
  font-size: 42px;
  font-family: 'Playfair Display';
  color: var(--full--black);
}
.sobre p {
  max-width: 35ch;
  color: var(--black--texto);
}
.sobre h1 span {
  color: var(--contrast);
}

@media (max-width: 850px) {
  .sobre-container {
    gap: 40px;
    margin-bottom: 100px;
  }
  .servicos {
    gap: 25px;
    padding: 30px 20px;
  }
  .servicos h1 {
    font-size: 32px;
  }
}
@media (max-width:735px) {
  .sobre-container {
    gap: 80px;
    flex-direction: column-reverse;
  }
}
  @media (max-width: 455px) {
    .sobre-container {
      margin-bottom: 100px;
    }
    .sobre h1 {
      font-size: 32px;
    }
    .sobre p {
      font-size: 14px;
    }
}