@import url(global/global.css);
body {
  font-family: 'inter',sans-serif;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.cabecalho h1 {
  font-family: 'Playfair Display' ;
}
.ancora-container {
  display: flex;
  gap: 10px;
}
.ancora-container a {
  color: var(--black--texto);
  border-radius: 5px;
  padding: 10px;
}
#agendar:hover {
  background-color: var(--contrast);
  color: var(--white--texto);
  transition: 0.3s;
}
.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 170px;
  flex-direction: row;
}

.unhas {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
  
}
.unhas span {
  color: var(--contrast);
}
.unhas h1 {
  font-size: 64px;
  font-family: 'Playfair Display';
  position: relative;
}
.unhas h1::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  background: url(../assets/detalhe.svg)no-repeat center;
  position: absolute;
  left: -40px;
  top: -20px;
  z-index: -1;
}
.unhas p {
  max-width: 25ch;
  color: var(--black--texto);
}

@media (max-width: 1020px) {
  .intro{
    height: 400px;
  }
  .unhas {
    gap: 20px;
  }
  .unhas h1 {
    font-size: 54px;
  }
  .unhas p {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .intro {
    gap: 80px;
  }
}
@media (max-width: 700px) {
  .cabecalho h1 {
    font-size: 24px;
  }
  .cabecalho a {
    font-size: 14px;
  }
  .intro {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
  }
  .intro img {
    width: 300px;
  }
  .unhas {
    gap: 10px;
  }
}
@media (max-width: 605px) {
  .unhas h1::before {
    display: none;
  }
  .unhas p {
    max-width: 16ch;
  }
  .cabecalho {
    flex-direction: column;
  }
  .intro {
    margin-top: 24px;
    gap: 30px;
  }
  .intro h1 {
    font-size: 2rem;
  }
  .intro img {
    width: 12rem;
  }
}
@media (max-width: 480px) {
  .intro img {
    width: 8rem;
  }
  .intro h1 {
    font-size: 1.8rem;
  }
  .unhas p {
    max-width: 13ch;
  }
}
@media (max-width: 300px) {
  .intro img {
    display: none;
  }
}