body {
  font-family: 'inter',sans-serif;
}
.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 3.125rem;
  margin-bottom: 3.75rem;
}
.cabecalho h1 {
  font-family: 'Playfair Display' ;
}
.ancora-container {
  display: flex;
  gap: 0.625rem;
}
.ancora-container a {
  color: var(--black--texto);
  border-radius: 0.3125rem;
  padding: 0.625rem;
}
#agendar:hover {
  background-color: var(--contrast);
  color: var(--white--texto);
  transition: 0.3s;
}
.unhas-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  gap: 10.625rem;
  flex-direction: row;
  margin-bottom: 12.5rem;
}

.unhas {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
  justify-content: center;
  
}
.unhas span {
  color: var(--contrast);
}
.unhas h1 {
  font-size: 4rem;
  font-family: 'Playfair Display';
  position: relative;
}
.unhas h1::before {
  content: "";
  display: block;
  width: 6.25rem;
  height: 6.25rem;
  background: url(../assets/detalhe.svg)no-repeat center;
  position: absolute;
  left: -2.5rem;
  top: -1.25rem;
  z-index: -1;
}
.unhas p {
  max-width: 25ch;
  color: var(--black--texto);
}

@media (max-width: 63.75rem) {
  .unhas-container{
    height: 25rem;
  }
  .unhas {
    gap: 1.25rem;
  }
  .unhas h1 {
    font-size: 3.375rem;
  }
  .unhas p {
    font-size: 0.875rem;
  }
}
@media (max-width: 50rem) {
  .unhas-container {
    gap: 5rem;
  }
}
@media (max-width: 43.75rem) {
  .cabecalho h1 {
    font-size: 1.5rem;
  }
  .cabecalho a {
    font-size: 0.875rem;
  }
  .unhas-container {
    justify-content: center;
    align-items: center;
    margin-top: 3.125rem;
    gap: 3.125rem;
  }
  .unhas-container img {
    width: 18.75rem;
  }
  .unhas {
    gap: 0.625rem;
  }
  .unhas-container {
    margin-bottom: 6.25rem;
  }
}
@media (max-width: 37.8125rem) {
  .unhas h1::before {
    display: none;
  }
  .unhas p {
    max-width: 16ch;
  }
  .cabecalho {
    flex-direction: column;
  }
  .unhas-container {
    margin-top: 1.5rem;
    gap: 1.875rem;
  }
  .unhas-container h1 {
    font-size: 2rem;
  }
  .unhas-container img {
    width: 12rem;
  }
}
@media (max-width: 30rem) {
  .unhas-container img {
    width: 8rem;
  }
  .unhas-container h1 {
    font-size: 1.8rem;
  }
  .unhas p {
    max-width: 13ch;
  }
  .unhas-container {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .cabecalho {
    margin-bottom: 0rem;
  }
}
@media (max-width: 18.75rem) {
  .unhas-container img {
    display: none;
  }
}